* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: Gotham, sans-serif;
    color: white;
}

ol {
    list-style-type: none;
}

textarea:focus, input:focus {
    outline: none;
}

#auth-screen, #create-and-connect-game-screen, #lobby-screen, #game-screen, #result-screen {
    display: none;
}

.background {
    min-height: 100vh;
    width: 100%;
    background: radial-gradient(330% 262% at 31% -33%, rgba(204, 0, 255, 0.3) 0%, rgba(75, 8, 216, 0.2) 33%, rgba(37, 216, 255, 0) 100%), #68AEFF;
    display: grid;
    place-items: center;
}

.form-block {
    background: linear-gradient(155deg, #765ddd, #5790fb) padding-box,
    linear-gradient(to bottom right, #a995ff, #607af5) border-box;
    border: 4px solid transparent;
    border-radius: 26px;
    margin: 40px auto;
    padding: 20px 20px 20px 20px;
    min-width: 360px;
    width: 98vw;
    max-width: 550px;
    box-sizing: border-box;
}

.label {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
}

.input {
    background: linear-gradient(to right, #8f9af5, #8f9af5) padding-box,
    linear-gradient(to bottom, #c5c3f9, #ac9efa) border-box;
    border: 3px solid transparent;
    border-radius: 10px;
    max-width: 70%;
    height: 60px;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px auto;
    display: block;
}

.button {
    display: block;
    height: 50px;
    color: #502d9b;
    background: linear-gradient(to right, white, white) padding-box,
    linear-gradient(to bottom, #c5c3f9, #ac9efa) border-box;
    border: 3px solid transparent;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Fredoka One', sans-serif;
    box-shadow: 2px 5px 0 rgba(36, 34, 125, 0.8);
    margin: auto;
    padding: 0 20px;
}

.button:hover {
    color: white;
    background: linear-gradient(to right, #502d9b, #502d9b) padding-box,
    linear-gradient(to bottom, #c5c3f9, #ac9efa) border-box;
}

.button:disabled,
.button[disabled] {
    background: linear-gradient(to right, #d8d8d8, #d8d8d8) padding-box, linear-gradient(to bottom, #808080, #727272) border-box;
    color: #959595;
    box-shadow: none;
}

.ok-button {
    margin-top: 30px;
}

.invite-code-input {
    text-transform: uppercase;
    text-align: center;
    width: 200px;
}

.connect-form {
    margin-top: 30px;
}

.lobby-grid {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.lobby-grid > div {
    flex: 1;
}

.players-block {
    padding: 10px 20px;
    margin: 0;
    max-width: 380px;
}

.players-count-block {
    text-align: center;
}

.players-block span {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}

.players-li {
    height: 60px;
    background: linear-gradient(to right, #6d6de6, #6d6de6) padding-box,
    linear-gradient(to bottom, #c5c3f9, #ac9efa) border-box;
    border: 2px solid transparent;
    border-radius: 35px 10px 10px 35px;
    vertical-align: middle;
    margin-bottom: 7px
}

.players-li.current-player {
    background: linear-gradient(to right, #8f9af5, #8f9af5) padding-box,
    linear-gradient(to bottom, #c5c3f9, #ac9efa) border-box;
}

.players-ol {
    padding-top: 10px;
}

.player-ava-block {
    width: 50px;
    height: 50px;
    float: left;
    background-color: #e3e2ff;
    border-radius: 50%;
    margin: 5px;
}

.nickname {
    line-height: 59px;
    margin-left: 10px;
}

.lobby-control-block {
    margin: 0 auto;
    position: relative;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.invite-code-block {
    font-size: 25px;
    flex-grow: 1;
}

.result-block-header {
    text-align: center;
}


.result-block-header span {
    font-family: 'Fredoka One', sans-serif;
    font-size: 40px;
}

.scroll-wrapper {
    overflow: scroll;
}

.result-table {
    font-size: 20px;
    border: none;
    border-collapse: collapse;
    margin: 10px auto auto;
}

.result-table td {
    width: 50px;
    min-width: 50px;
    text-align: center;
}

.result-table tr td:first-child {
    border-right: 1px solid white;
    padding-right: 10px;
}

.result-table tr td:last-child {
    border-left: 1px solid white;
    font-weight: bold;
    padding-left: 4px;
}

.error-message {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    justify-content: center;
    backdrop-filter: blur(5px);
}

.error-message:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);

}

.error-message--appeared {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    background: linear-gradient(174.61deg, #FF5353 -29.46%, #FF9680 94.92%);
    border-radius: 26px;
}

.error-message-box {
    position: relative;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    background: #fff;
    max-width: 100%;
    max-height: 90vh;
    min-height: 150px;
    min-width: 350px;
    overflow: auto;

    box-sizing: border-box;
    width: 35vw;
    height: 200px;

    background: linear-gradient(174.61deg, #FF5353 -29.46%, #FF9680 94.92%) padding-box,
    linear-gradient(138.05deg, #FF9595, #F68F7800, #FFEFB766) border-box;
    border: 4px solid transparent;
    border-radius: inherit;

    justify-content: center;
}

.error-message-text {
    height: 100px;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}

.error-message-text img {
    height: 45px;
    width: 45px;
}

.error-message-text span {
    display: inline-block;
    position: relative;
    bottom: 7px;
    margin-bottom: 15px;
    margin-top: 15px;
}





